<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="resume-wrapper">
	<section class="profile section-padding">
		<div class="container">
			<div class="picture-resume-wrapper">
        <div class="picture-resume">
        <span><img src="../../assets/fotoPerfil.jpg" alt="" /></span>
        <svg version="1.1" viewBox="0 0 350 350">
  
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -9" result="cm" />
    </filter>
  </defs>
</svg>
      </div>
         <div class="clearfix"></div>
 </div>
      <div class="name-wrapper">
        <h1>Ezequiel <br/>Archilla</h1><!-- YOUR NAME AND LAST NAME  -->
      </div>
      <div class="clearfix"></div>
      <div class="contact-info clearfix">
      	<ul class="list-titles">
      		<li>Telefono</li>
      		<li>Mail</li>
      		<li>LinkedIn</li>
      		<li>Direccion</li>
      	</ul>
        <ul class="list-content">
        	<li>11 6121 4906</li> <!-- YOUR PHONE NUMBER  -->
        	<li>ezequiel.a.archilla@gmail.com</li> <!-- YOUR EMAIL -->
        	<li><a href="www.linkedin.com/in/ezequiel-archilla/">@EzequielArchilla</a></li> <!-- YOUR WEBSITE  -->
        	<li>Avellaneda, Buenos Aires</li> <!-- YOUR STATE AND COUNTRY  -->
        </ul>
      </div>
      <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
      	<p><span class="bold">Juego propio: </span> Hare un juego utilizando el canva de JS en el cual controlaremos un vehiculo que debe recorrer
        la mayor distancia posible sin chocar a otros autos que se iran generando aleatoriamente. </p>
      </div>
		</div>
	</section>
  
  <section class="experience section-padding">
  	<div class="container">
  		<h3 class="experience-title">Experiencia</h3>
      
      <div class="experience-wrapper">
      	<div class="company-wrapper clearfix">
      		<div class="experience-title">Calidra</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Feb 2022 - Presente</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
        <div class="job-wrapper clearfix">
        	<div class="experience-title">Analista BI</div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
        <div class="company-wrapper clearfix">
      		<div class="experience-title">Accenture</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Nov 2010 - Present</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
         <div class="job-wrapper clearfix">
        	<div class="experience-title">Analista de Operaciones IT</div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>
                <li>Automatizacion de procesos con C# y Selenium</li>
                <li>Desarrollo de aplicaciones de escritorio</li>
                <li>Analisis de datos con Power BI</li>
                <li>RPA usando Automation Anywhere</li>
            </p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
        <div class="company-wrapper clearfix">
      		<div class="experience-title">Martina Di Trento</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Sept 2017 - Ene 2020</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div> 
        
         <div class="job-wrapper clearfix">
        	<div class="experience-title">Tecnologia e infraestructura </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>
                <li>Soporte de aplicaciones/infraestructura</li>
                <li>Manejo integral de software BI (Microstrategy)</li>
                <li>Generacion de reportes en bases Relacionales</li>
            </p>   <!-- JOB DESCRIPTION  -->
          </div>
        </div>

        <div class="company-wrapper clearfix">
            <div class="experience-title">Urbaser Argentina S.A.</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
        <div class="time">Abr 2016 - Sept 2017</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div> 
      
       <div class="job-wrapper clearfix">
          <div class="experience-title">Responsable de Sistemas </div> <!-- JOB TITLE  -->
        <div class="company-description">
            <p>
                <li>Mantenimiento de software y hardware</li>
                <li>Administracion de Windows Server</li>
                <li>Infraestructura de red</li>
                <li>Manejo de flota Nextel</li>
                <li>Incorporacion de nuevas tecnologias</li>
          </p>   <!-- JOB DESCRIPTION  -->
        </div>
        </div>
         
      </div><!--Skill experience-->
      
      <div class="section-wrapper clearfix">
      	<h3 class="section-title">Skills</h3>  <!-- YOUR SET OF SKILLS  -->
        	<ul>
        		<li>Angular</li>
        		<li>React</li>
        		<li>Javascript</li>
        		<li>Power BI</li>
        		<li>MicroStrategy</li>
        	</ul>
        
      </div>
      
      <div class="section-wrapper clearfix">
        <h3 class="section-title">Hobbies</h3>  <!-- DESCRIPTION OF YOUR HOBBIES -->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p> 
      </div>
      
  	</div>
  </section>
  
  <div class="clearfix"></div>
</div>