  <main>
  
    <section class="py-1 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light text-white align-items-center">Sitio creado por</h1>
          <a routerLink="/about">
          <h1 class="fw-light text-white align-items-center">Ezequiel Archilla</h1>
        </a>
        </div>
      </div>
    </section>
  
    <div class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="../../../assets/gameIcons/hangman.jpg" alt="hangman" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Ahorcado: Descubre la palabra secreta en menos de 5 intentos</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="navigateUrl('/games/ahorcado')">Jugar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../../../assets/gameIcons/mayorOMenor.jpg" alt="mayorOMenor" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Mayor o Menor: Adivina si la siguiente carta sera mayor o menor a la actual.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="navigateUrl('/games/mayorOMenor')">Jugar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../../../assets/gameIcons/chat.jpg" alt="chat" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Chat</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="navigateUrl('chat')">Entrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../../../assets/gameIcons/desertRaceLogo.PNG" alt="desertRace" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Desert Race: Recorre la mayor trayectoria sin chocar contra los rivales.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="navigateUrl('/games/desertRace')">Jugar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../../../assets/gameIcons/pokePreguntados.jpg" alt="pokePreguntados" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">PokePreguntados: Adivina el nombre del pokemon que aparece.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="navigateUrl('/games/pokePreguntados')">Jugar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
  
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Ezequiel Archilla 2022</p>
    </div>
  </footer>
 