.hidden{
    visibility: hidden;
}
.container{
    justify-content: space-around;
}
.button_home{
    position:fixed;
    right: 0%;
    top: 0%;
}

body{
    position: relative;
    height: 100vh;
    background-color: rgb(119, 143, 222);
}

.top{
    padding-top:10%;
 }
 
.buttons{
    width:30%;
}

.mg-top{
    margin-top:5%;
}

.mg-10{
    margin-left:10px;
    margin-right: 10px;
}

/* From uiverse.io */
.button-inicio {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .button-inicio:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button-inicio:active {
    transform: translateY(-1px);
  }

  h2 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align: center; }