<body>
    <div class="container">
            <div class="tp-header-image"></div>
            <div class="col text-center top">
                <button class="button-inicio" (click)="iniciarMazo()">Iniciar</button>
            </div>
            <hr>
            <div class="row">
                <div class="col text-center">
                    <img id="imagenes_mazo" src="../../../../assets/baraja/0.png" />
                </div>
            </div>
            <div class="row" *ngIf="jugando">
                <div class="col text-center mg-top">
                <input type="button" class="btn btn-success mg-10" value="Mayor" (click)="mayor()">
                <input type="button" class="btn btn-danger mg-10" value="Menor" (click)="menor()">
            </div>
            </div>
            <div class="row col text-center mg-top">
                <h2 id="score" class="hidden">PUNTAJE MAXIMO {{puntajeMaximo}}</h2>
            </div>
    </div>
    
        
    </body>